
#maintitle {

    text-align: center;
    font-size: 100px;
    font-weight: light;
    color: rgb(102, 8, 8);
    text-shadow: 2px 2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff, -2px -2px 0px #fff;
    font-style: italic;           
}



body {

    background-color: rgb(70, 134, 70)
}

ul li,
ol li,
h1, h2, h3, p {

    text-align: center;
    font-style: italic;
    font-weight: bold;
    list-style-position: inside;
    list-style-type: square;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(102, 8, 8);
  
}

img {

    display: block;
    margin-left: auto;
    margin-right: auto;
   
}